section {
  font-family: 'Droid Sans', sans-serif;
}

li {
  display: inline;
  list-style-type: none;
  padding: 5px;
}

.sign {
  display: inline;
  list-style-type: none;
  padding-left: 5px;
  text-align: right;
  margin-left: 500px;
}

.footer{
	padding-top:20em;
	padding-bottom: 10em;
	margin-left: 250px;

}

.div {
    width: 300px;
    margin: 100px 150px 100px 350px;
    
}

.search {
    width: 300px;
    margin: 100px 150px 100px 500px;
    
}